<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../api/usuarios">Usuarios</a>
    <a href="../api/pacientes">Pacientes</a>
    <a href="../api/medicos">Médicos</a>
    <a href="../api/especialidades">Especialidades</a>
    <a href="../api/citas_medicas">Citas médicas</a>
    <a href="../api/regiones">Regiones</a>
    <a href="../api/ciudades">Ciudades</a>
    <a href="../api/comunas">Comunas</a>
    <a href="../api/previsiones">Previsiones</a>
</body>
</html>